body {
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	margin: 0px;
	text-decoration: none;
	/*background-image: url("/images/floating_market.jpg");
  	background-size: cover;*/ 
}

img {
	max-width: 500px;
	height: auto;
}

.dishText {
	display: inline-block;
}

.imageLo {
	position: absolute;
	top: 150px;
	left: 50px;
	width: 500px;
	padding-left: 300px;
	font-size: 16px;
}

li {
	/*display: inline-block;*/
	list-style: none;
}

span {
	max-width: 300px;
}

a {
	text-decoration: none;
	padding: 0px 20px 0px 0px;
	color: black;
}

a:hover {
	color: #ff0067;
}

h1 {
	font-size: 50px;
	text-decoration: none;
}

.oneCatList {
	padding-left: 100px;
}

.lockLock {
	background-image: url('../images/glyphicons-204-lock.png'); 
	background-size: 11px;
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	opacity: .2;
	right: 0px;
	top: 13px;
	padding: 9px 35px 0px 0px;
}

.unlock {
	background-image: url('../images/glyphicons-205-unlock.png'); 
	background-size: 11px;
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	opacity: .2;
	right: 0px;
	top: 13px;
	padding: 9px 35px 0px 0px;
}

.bgImage {
	background-image: url('../images/night_float_market.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.coverImage {
	background-image: url('../images/floating_market.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.open {
	margin-left: auto;
	margin-right: auto;
}

p.hour {
	right: 70px;
	top: 10px;
	position: absolute;
	color: #ff0067;
	z-index: 1;
}

.bgColor {
	position: absolute;
	background-color: white;
	padding: 20px 0px 0px 20px;
	top:120px;
	width: 100%;
	height: 100vh;
	opacity: .5;
	z-index: -1;
}

.dishes {
	line-height: 30px;
	padding-left: 60px;
	opacity: 1;
	z-index: 1;
}

.dishName:hover {
	color: #ff0067;
}

.catList {
	line-height: 30px;
	padding-left: 60px;
	padding-top: 40px;
	z-index: 1;
}
#coverTitle {
	position: absolute;
	padding-left: 70px;
	top: 270px;
	color: white;
	font-size: 100px;
}

#menuLink {
	font-family: 'Karla', sans-serif;
	position: absolute;
	top: 550px;
	/*margin: 0px 300px 0px 300px;*/
	background-color: white;
	font-size: 15px;
	padding: 18px 40px 18px 40px;
}

#title {
	font-size: 55px;
	/*font-weight: 700;*/
	padding: 60px;
	color: white;
	text-decoration: none;
}

#title:hover {
	color:#ff0067;
}

a#newCat {
	float: right;
	color: #e7e7e7;
}

a#newCat:hover {
	text-decoration: none;
	color: #ff0067;
}

#seeCats {
	padding: 60px;
	color:white;
}
#seeCats:hover {
	text-decoration: none;
	color:#ff0067;
}

#seeDishes {
	color: white;
}
#seeDishes:hover {
	text-decoration: none;
	color:#ff0067;
}

a#newDish {
	float: right;
	color: #e7e7e7;
}
a#newDish:hover {
	text-decoration: none;
	color: #ff0067;
}

.3 {
	background-image: url('../images/glyphicons-23-fire.png');
	/*background-size: 10px;*/
	/*background-repeat: no-repeat;*/
	/*width: 30px;
	height: 30px;*/
}

.4 {
	background-image: url('../images/glyphicons-23-fire.png');
	background-size: 15px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	color: orange;
}

.5 {
	background-image: url('../images/glyphicons-23-fire.png');
	background-size: 20px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	color: red;
}