body {
	font-family: 'Permanent Marker', cursive;
}

img {
	max-width: 250px;
	height: auto;
}

li {
	/*display: inline-block;*/
	list-style: none;
}

span {
	max-width: 300px;
}

a {
	text-decoration: none;
	padding: 0px 20px 0px 0px;
	color: black;
}

a:hover {
	color: red;
}

h1 {
	font-size: 50px;
}